<div id="calendar">

  <!-- header -->
  <headapp ng-controller="layout"></headapp>

	<div class="content clearfix">
    <div ng-if="recetteQuery.length == ''">
    <span ng-repeat="recette in recettes" lightbox>
    <div id="recette{{recette.id}}" class="popin-recette popin-recette-{{recette.id}}">
      <div class="content-popin-recette clearfix">
        <div class="close-popin-recette close-popin-recette-{{recette.id}}"></div>

        <div class="left-popin-recette">
          <img src="www/img/{{recette.image}}" alt="">
        </div>
        <div class="right-popin-recette clearfix">
          <div class="wrap-text-popin-recette">
            <h3>{{recette.name}}</h3>
            <div ng-bind-html="recette.description"></div>
			  <div class="popupDescription">
				  <div ng-repeat="etape in recette.etapes">
					  <h3 style="text-align:center;">{{etape.titre}}</h3>
					  <div ng-bind-html="etape.description"></div>
				  </div>
			  </div>
			  <div class="popupDescription clearfix">
				  <div class="col-md-6" ng-repeat="ingredient in recette.ingredients">
					  <p>{{ingredient.name}}</p>
				  </div>
			  </div>
          </div>
          <div class="wrap-form-popin-recette">
            <div class="border-form-popin-recette">
              <h4>Ajouter cette recette dans un repas du planning</h4>
              <select id="chosen-select" name=""  class="chosen-select" multiple="" ng-model="data" data-placeholder="Choisissez vos repas">
                <option selected value=""> </option>
                <optgroup label="{{day | convertDate2}}" ng-repeat="(day, repas) in allRepas">
                  <option value='{"repas":{{lerepas.id}}, "recette":"{{recette.id}}"}' ng-repeat="lerepas in repas">{{lerepas.name}}</option>
                </optgroup>
              </select>
              <div class="wrap-submit-popin-recette">
                <input class="add-to-meal" type="submit" ng-click="addrecette(data)" value="valider">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
  </div>

  <!-- <div ng-if="recetteQuery.length > 0">
  <span ng-repeat="recette in recetteQuery" lightbox>
  <div id="recette{{recette.id}}" class="popin-recette popin-recette-{{recette.id}}">
    <div class="content-popin-recette clearfix">
      <div class="close-popin-recette close-popin-recette-{{recette.id}}"></div>

      <div class="left-popin-recette">
        <img src="www/img/poulet-salade.jpg" alt="">
        <img src="www/img/salade-poulet.jpg" alt="">
      </div>
      <div class="right-popin-recette clearfix">
        <div class="wrap-text-popin-recette">
          <h3>{{recette.name}}</h3>
          <p>When the cheese comes out everybody's happy cheese and wine jarlsberg. Cheeseburger mascarpone brie chalk and cheese paneer cheese slices bavarian bergkase emmental. Cheesecake chalk and cheese cheesy feet cheese on toast say cheese cheese triangles cheese on toast fromage. The big cheese cheese on toast cream cheese bavarian bergkase cottage cheese monterey jack paneer the big cheese. Mozzarella cheesy grin.</p>
          <p>Cheese slices who moved my cheese goat. Mascarpone chalk and cheese swiss bavarian bergkase cheesy feet roquefort edam cottage cheese. Taleggio boursin rubber cheese cauliflower cheese airedale airedale melted cheese parmesan. Feta jarlsberg cheese slices macaroni cheese pecorino dolcelatte caerphilly.</p>
          <hr>
          <p>Cottage cheese ricotta hard cheese. Cheese and biscuits port-salut cheese and wine cottage cheese taleggio cheese and biscuits red leicester croque monsieur. Cream cheese everyone loves gouda everyone loves red leicester hard cheese cheesecake ricotta. Lancashire cut the cheese fondue croque monsieur cheese on toast manchego.</p>
          <hr>
          <p>Edam emmental squirty cheese. Cheese strings parmesan danish fontina rubber cheese monterey jack who moved my cheese pepper jack edam. Hard cheese red leicester airedale rubber cheese cheesy grin queso mozzarella boursin. Fromage frais goat.</p>
          <p>Feta airedale stilton. Brie fromage mascarpone cheesy grin parmesan stinking bishop smelly cheese smelly cheese. Roquefort stinking bishop cut the cheese babybel pecorino parmesan the big cheese cheeseburger. Airedale red leicester fromage frais fondue cheese on toast melted cheese hard cheese bocconcini. Halloumi brie camembert de normandie.</p>
        </div>
        <div class="wrap-form-popin-recette">
          <div class="border-form-popin-recette">
            <h4>Ajouter cette recette dans un repas du planning</h4>
            <select id="chosen-select" name=""  class="chosen-select" multiple="" ng-model="data" data-placeholder="Choisissez vos repas">
              <option selected value=""> </option>
              <optgroup label="{{week | convertDate2}}" ng-repeat="week in finalYear">
                <option ng-if="compareDate(lerepas.daterepas, week)" value='{"repas":{{lerepas.id}}, "jour":{{week}}, "recette":"{{recette.id}}"}' ng-repeat="lerepas in repas">{{lerepas.name}}</option>
              </optgroup>
            </select>
            <div class="wrap-submit-popin-recette">
              <input class="add-to-meal" type="submit" ng-click="addrecette(data)" value="valider">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
</div> -->

    <div id="popin-add-meal" class="popin-add-meal-{{jour}}" ng-repeat="jour in semaine">
			<div class="popin-add-meal-within">
				<div class="close-add-meal close-add-meal-{{jour}}"></div>
				<h4>Ajouter un repas {{jour}}</h4>
				<form action="">
					<div class="wrap-form-elements">
						<label for="">Nom</label>
						<input type="text" ng-model="nom">
						<label for="">Date</label>
						<input class="add-meal-date-pick" ng-model="newRepasDateString" type="text">
						<label for="">Heure</label>
						<input class="add-meal-time-pick" ng-model="heure" type="text">
						<div class="wrap-submit-add-meal">
							<a href="#/calendar" class="submit-add-meal" type="submit" ng-click="addrepas(nom, date, heure)" value="valider">valider</a>
						</div>
					</div>
				</form>
			</div>
		</div>

    <div id="popin-add-meal" class="popin-add-meal2-{{lerepas.id}}" ng-repeat="lerepas in repas">
			<div class="popin-add-meal-within">
				<div class="close-add-meal close-add-meal2-{{lerepas.id}}"></div>
				<h4>Modifier le repas "{{lerepas.name}}"</h4>
				<form action="">
					<div class="wrap-form-elements">
						<label for="">Nom</label>
						<input type="text" ng-model="lerepas.name">
						<label for="">Date</label>
						<input class="add-meal-date-pick" ng-model="date" type="date">
						<div class="wrap-submit-add-meal">
							<a href="" class="submit-add-meal" type="submit" ng-click="updateRepas(lerepas.id, lerepas.name, date)" value="valider">valider</a>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="tabs" onglet>
	    	<ul class="tab-links">
		        <li class="active"><a href="#tab1">Recherche</a></li>
		        <li><a href="#tab2">Favoris</a></li>
		        <li><a href="#tab3">Suggestions</a></li>
		    </ul>

		    <div class="tab-content">
		        <div id="tab1" class="tab active">
		        	<div class="grey search-wrapper">
		        		<div id="search-form">
							<input id="search" type="search" ng-model="search.name">
							<!-- <input type="submit" id="search-submit" ng-click="searchRecette(search)" value="RECHERCHER"> -->
						</div>
						<a id="advanced-search" href="#/recette">Recherche avancée >></a>
		        	</div>
		        	<div id="result-search" ng-if="recetteQuery.length == ''">

                <div class="row" id="result-slideshow">
    							<div class="col-md-4 clearfix" ng-repeat="recette in recettes | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" lightbox>

    								<a href="#recette{{recette.id}}" class="open-popin-recette-{{recette.id}}">
    									<div class="col-md-8 recette-image" style="overflow: hidden;height:135px;">
    										<img src="www/img/{{recette.image}}" alt="" style="width:100%;height:100%;">
    									</div>
    									<div class="col-md-4 recette-txt">
    										<h3>{{recette.name}}</h3>
                        <div style="height:112px;overflow:hidden" ng-bind-html="recette.description"></div>
    									</div>
    								</a>
    							</div>
                </div>
                <pagination style="width: 100%;text-align: center;padding-top: 28px;padding-left: 32%;" boundary-links="true" page="currentPage" ng-model="currentPage" max-size="noOfPages" total-items="recettes.length" items-per-page="entryLimit"></pagination>

              </div>
              <!-- <div id="result-search" ng-if="recetteQuery.length > 0">
                <ul id="result-slideshow" ng-if="recetteQuery.length > 0">
    							<li class="clearfix" ng-repeat="recette in recetteQuery" lightbox>

    								<a href="#recette{{recette.id}}" class="open-popin-recette-{{recette.id}}">
    									<div class="recette-image">
    										<img src="www/img/recette-img.jpg" alt="">
    									</div>
    									<div class="recette-txt">
    										<h3>{{recette.name}}</h3>
    										<p>Description de la recette description de la recette</p>
    									</div>
    								</a>
    							</li>
                </ul>
		        	</div>
		        </div> -->

		        <div id="tab2" class="tab">
		            <p>Favoris</p>
		            <p>Aucun favoris</p>
		        </div>

		        <div id="tab3" class="tab">
		            <p>Suggestions</p>
		            <p>Aucune suggestions pour le moment</p>
		        </div>
		    </div>
		</div>


		<div id="calendar-content" lightbox>
			<div id="calendar-nav">
				<a href="" ng-click="mypageprev()"><div class="calendar-nav-prev"></div></a>
				<a href="" ng-click="mypagesuiv()"><div class="calendar-nav-next"></div></a>
				<div class="calendar-nav-title">{{ displayedMonth }} {{ displayedYearNumber }} - Semaine {{ displayedWeekNumber }} </div>
			</div>
			<div class="week">
				<div class="day" ng-repeat="day in displayedDays">
					<div class="day-title">{{day | convertDate}}</div>
					<div class="day-content">
						<a class="cta-meal open-meal-{{day | convertDate}}" href="" ng-click="updateNewRepasDate(day)">
							Repas <img src="./www/img/cta-meal.png" alt="">
						</a>
            <div ng-repeat="lerepas in repas">
  						<div class="meal" ng-if="compareDate(lerepas.daterepas, day)">
  							<a href="" class="close-meal" ng-click="removeRepas(lerepas.id)"></a>
  							<p class="meal-name"><a href="" class="cta-meal open-meal2-{{lerepas.id}}">{{lerepas.name}}</a></p>
    							<ul style="list-style:none; padding-left: 0px;">
    								<li ng-repeat="thisRecettes in recetteByRepas" ng-if="thisRecettes.repas == lerepas.id">
                      {{thisRecettes.recetteName}} <a href="" ng-click="removeRecetteOnrepas(thisRecettes.idRepasRecette)">X</a>
                    </li>
    							</ul>
  						</div>
            </div>
					</div>
				</div>
			</div>
		</div> <!-- CALENDAR CONTENT END -->
	</div> <!-- CONTENT END -->

  <!-- Footer -->
  <!-- <footapp ng-controller="layout" lightbox></footapp> -->

   <footapp ng-controller="layout"></footapp>

</div>
