
<!-- header -->
<headapp ng-controller="layout"></headapp>


<div id="page-large" class="content clearfix" >
<div class="col3" ng-repeat="category in categories">
                    <div class="hovereffect" style="background-image:url('www/img/Categorie-1.jpg');">
                        <a href="#/category/recettes/{{category.id}}">
                      <img class="img-responsive" src="www/img/{{category.name}}.jpg" alt="">
    					<div class="wrap-title">
                            <h2>{{category.name}}</h2>
                        </div>
                        <div class="overlay"></div>
                        </a>
				    </div>
			</div>
    </div>
<footapp ng-controller="layout"></footapp>

    <!-- <div id="calendar">
    <footapp ng-controller="layout"></footapp>
    </div> -->
