<div id="create-recipe-template">
<headapp ng-controller="layout"></headapp>
<div class="content" selectation>
  <div id="steps">
    <div class="step prev-active">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>1.Informations</p>
      </div>
    </div>
    <div class="step active">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>2.Ingrédients</p>
      </div>
    </div>
    <div class="step">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>3.Les étapes</p>
      </div>
    </div>
    <div class="step">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>4.Visualisation</p>
      </div>
    </div>
  </div>

    <div class="popin-qte">
        <div class="popin-form">
                <div class="green-white-field">
                    <div class="green-wrapper">
                        <label id="showquantite" for="">En grammes</label>
                    </div>
                    <div class="white-wrapper">
                        <input class="qte-input" type="text">
                    </div>
                </div>
                <input type="submit" class="qte-submit" value="Valider">
        </div>
    </div>

  <div id="step-two" class="step-data">
    <div class="step-two-search">
      <div class="cat-ingredient">
        <div class="green-white-field">
          <div class="green-wrapper">
            <label for="">Catégorie(s) d'ingrédients</label>
          </div>
          <div class="white-wrapper">
            <select class="chosen-select-step" multiple="multiple" ng-model="data" data-placeholder="Filtrer par catégorie(s)">
              <option  ng-repeat="categorieingredient in categorieingredients" id="{{categorieingredient.id}}"  choosen>{{categorieingredient.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- <input id="search-ingredient" type="search">
      <input id="search-ingredient-submit" type="submit" value="RECHERCHER UN INGRÉDIENT"> -->
    </div>
    <form>
      <div class="wrap-selects clearfix">
        <div class="width33">
          <div class="green-white-field">
            <div class="green-wrapper">
              <label for="">Listes des ingrédients</label>
            </div>
            <select name="selectfrom" id="select-from" multiple size="5">
              <option ng-repeat="ingredient in Ingredients | filter:ingreFilter" value="{{ingredient.id}}" data-id="{{ingredient.id}}" data-quantite="{{ingredient.typequantite[0].name}}" data-idquantite="{{ingredient.typequantite[0].id}}" data-nom="{{ingredient.name}}">{{ingredient.name}}</option>
            </select>
          </div>
        </div>
        <div class="width15">
          <a class="add-ingredient" href="JavaScript:void(0);" id="btn-add">Ajouter</a>
          <a class="remove-ingredient" href="JavaScript:void(0);" id="btn-remove">Supprimer</a>
        </div>
        <div class="width33">
          <div class="green-white-field">
            <div class="green-wrapper">
              <label for="">Vos ingrédients</label>
            </div>
            <select name="selectto" ng-model="result" id="select-to" multiple size="5">
            </select>
          </div>
        </div>


      </div>
    </form>
    <!-- <div class="preview-ingredient">
      <h4>Ingrédient P4X462</h4>
      <p>Bacon ipsum dolor amet t-bone rump pork belly sausage tail jerky, pork loin shankle tri-tip short ribs prosciutto strip steak. Jowl salami bresaola biltong. Chuck sirloin pancetta bacon, cupim bresaola drumstick alcatra capicola kevin pork chop salami porchetta. Shank chuck jowl cupim, beef ribs tail pig pancetta biltong sausage alcatra ham porchetta short ribs. Capicola cupim shank, pork chop turkey fatback short loin hamburger t-bone chicken kevin beef ribs pastrami. Bacon shoulder tongue kielbasa</p>
    </div> -->


    <a href="#/recette/create/one" class="step-prev">Préc</a>
    <a href="#/recette/create/three" ng-click="addIngredient(result)" class="step-next">Suiv</a>
  </div>



<footapp id="footer-fixed" ng-controller="layout"></footapp>
</div>
