<div id="create-recipe-template">
<headapp ng-controller="layout"></headapp>
<div class="content" selectation>
  <div id="steps">
    <div class="step">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>1.Informations</p>
      </div>
    </div>
    <div class="step prev-active">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>2.Ingrédients</p>
      </div>
    </div>
    <div class="step active">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>3.Les étapes</p>
      </div>
    </div>
    <div class="step">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>4.Visualisation</p>
      </div>
    </div>
  </div>

  <div id="step-three" class="step-data">
    <form class="step-one" action="">
      <div class="green-white-field relative">
        <div class="green-wrapper">
          <label for="">Description de l'étape</label>
        </div>
        <textarea ui-tinymce ng-model="etape">{{etape}}</textarea>
        <p class="error error-txt">Impossible d'ajouter un texte vide.</p>
      </div>
      <div class="green-white-field relative">
        <div class="green-wrapper">
          <label for="upload-step-image">Ajouter une image</label>
        </div>
        <div class="white-wrapper padtop10px">
          <input id="upload-step-image" type="file">
        </div>
        <p class="error error-image">Veuillez choisir un fichier de type image.</p>
      </div>

      <a id="add-step-action" href="" ng-click="addEtape(etape)">Ajouter l'étape</a>

    </form>
    <div id="recipe-steps-content">

    </div>

    <a href="#/recette/create/update/two/{{idRecette}}" class="step-prev">Préc</a>
    <a href="#/recette/create/four/{{idRecette}}" class="step-next">Suiv</a>
  </div>


</div>
<footapp id="footer-fixed" ng-controller="layout"></footapp>
</div>
