<div id="create-recipe-template">
<headapp ng-controller="layout"></headapp>
<div class="content" selectation>
  <div id="steps">
    <div class="step active">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>1.Informations</p>
      </div>
    </div>
    <div class="step">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>2.Ingrédients</p>
      </div>
    </div>
    <div class="step">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>3.Les étapes</p>
      </div>
    </div>
    <div class="step">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>4.Visualisation</p>
      </div>
    </div>
  </div>
  <div id="step-one" class="step-data">
    <form class="step-one" action="">
      <div class="green-white-field">
        <div class="green-wrapper">
          <label for="">Nom de la recette</label>
        </div>
        <div class="white-wrapper">
          <input class="" type="text" ng-model="name_recette">
        </div>
      </div>
      <div class="green-white-field">
        <div class="green-wrapper">
          <label for="">Description de la recette</label>
        </div>
        <textarea ui-tinymce ng-model="description_recette">{{description_recette}}</textarea>
      </div>
      <div class="green-white-field">
        <div class="green-wrapper">
          <label for="">Catégorie(s) de la recette</label>
        </div>
        <div class="white-wrapper">
          <select class="chosen-select-step" name="" id="" multiple="" ng-model="data_recette" data-placeholder="Ajouter une ou plusieurs catégories">
            <option ng-repeat="category in categorierecettes" choosen value="{{category.id}}">{{category.name}}</option>
          </select>
        </div>
      </div>
    </form>
    <a href="#/recette/create/two" class="step-next" id="step-next" ng-click="onestep(name_recette, description_recette, data_recette)">Suiv</a>
  </div>


</div>
<footapp id="footer-fixed" ng-controller="layout"></footapp>
</div>
