<div id="create-recipe-template">
<headapp ng-controller="layout"></headapp>
<div class="content">
  <div id="steps">
    <div class="step">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>1.Informations</p>
      </div>
    </div>
    <div class="step ">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>2.Ingrédients</p>
      </div>
    </div>
    <div class="step prev-active">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>3.Les étapes</p>
      </div>
    </div>
    <div class="step active">
      <div class="within-step">
        <div class="point-arrow-triangle"></div>
        <p>4.Visualisation</p>
      </div>
    </div>
  </div>

  <div id="step-four" class="step-data">
        <h2 class="onerecipe">{{name_recette}}</h2>
            <div class="recipeleft">
              <img src="www/img/recipe-one.png"></img>
            </div>
            <div class="reciperight">
                <ul class="recipeinfos">
                  <li><b>{{quantiteinfo.quantite}} {{quantiteinfo.name}} {{quantiteinfo.ingredient}}</b></li>
                </ul>
            </div>
        <div class="clearfix"></div>
    <div id="recipetext">
      <div ng-bind-html="description_recette"></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12" ng-repeat="etape in etapes track by $index" style="padding-bottom: 15px;">
        <div class="col-md-4"><img class = "espaceimg" src="www/img/miso1.jpg"></img></div>
        <div class="col-md-8">
          <div ng-bind-html="etape"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <a href="#/recette/create/three" class="step-prev">Préc</a>
    <a href="#/recette/" ng-click="addfinalRecette()" class="step-next">Terminer</a>
  </div>

</div>

<footapp id="footer-fixed" ng-controller="layout"></footapp>
</div>
