<footer>
  <div class="inside-footer clearfix">
    <div class="inside-footer-50 clearfix">
      <div class="inside-footer-menu">
        <ul>
          <li><a href="#/recette">Les recettes</a></li>
          <!--<li><a href="#/login">Log in</a></li>-->
          <!--<li><a href="">Get started</a></li>-->
          <!--<li><a href="">Contact</a></li>-->
        </ul>
      </div>
      <!--<div class="inside-footer-menu">-->
        <!--<ul>-->
          <!--<li><a href="">Les recettes</a></li>-->
          <!--<li><a href="">Log in</a></li>-->
          <!--<li><a href="">Get started</a></li>-->
          <!--<li><a href="">Contact</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
    <div class="inside-footer-50 clearfix">
      <div class="socials">
        <div class="socials-title">Nos réseaux sociaux</div>
        <div class="socials-links">
          <a href=""><img src="./www/img/socials/twitter-icon.png"></a>
          <a href=""><img src="./www/img/socials/pinterest-icon.png"></a>
          <a href=""><img src="./www/img/socials/facebook-icon.png"></a>
        </div>
      </div>
      <div class="android">
        <a href=""><img src="./www/img/socials/android.png"></a>
      </div>
    </div>
  </div>
</footer>
