<header id="feedme">
  <div class="header-center">
    <div class="wrap-left">
      <a href="#/"><img class="logo" src="www/img/logo.png" alt=""></a>
    </div>
    <div ng-if="verifCookie(session) == true" class="wrap-right">
      <ul class="menu-recette">
        <li class="menu-special"><a href="#/recette/create/one">Créer ma recette</a></li>
        <li><a href="#/category">Les Categories</a></li>
        <li><a href="#/calendar">Mon planning</a></li>
        <li><a href="#/profile">Mon compte</a></li>
        <li><a href="#/logout" ng-click="logout()">Se déconnecter</a></li>
      </ul>
    </div>
    <div ng-if="verifCookie(session) == false" class="wrap-right">
      <ul class="menu-recette">
        <li><a href="#/recette">Les Recettes</a></li>
        <li><a href="#/register">S'inscrire</a></li>
        <li><a href="#/login">Se connecter</a></li>
        <!--<li><a class="menu-cta" href="#">Get started</a></li>-->
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</header>
