<div id="calendar">
	<!-- header -->
  <headapp ng-controller="layout"></headapp>

  <div class="container-fluid" id="presentation">
		<img class="prez-img" src="www/img/presentation-bis.jpg" alt="">
		<div class="presentation-title">
			<div class="centercontent text-center">
				<h1>Bievenue sur FeedMe</h1>
				<p>FeedMe est une application qui vous accompagne, pour une nutrition en accord avec vos objectifs</p>
			</div>
			<!--<a href="#" class="cta-prez">Get started</a>-->
		</div>
	</div>

	<div class="container-fluid home-content" id="content">
		<div class="content text-center recipe-examples">
			<h2>Un avant goût ?</h2>
			<p><span class="description-section">Découvrez nos recettes coup de coeur</p>
		</div>

		<div class="content clearfix">
			<div class="mainonethird" ng-repeat="recette in recettes">
				<a href="/#/recette/{{recette.id}}" class="thumbnail myThumbnail">
					<div class="theThumbnail">
						<img src="www/img/{{recette.image}}" alt="Image recette">
						<div class="caption">
							<h3 class="text-center">{{recette.name}}</h3>
							<div ng-bind-html="recette.description"></div>
							<p class="caption-recette-link text-center">Voir la recette <i class="glyphicon glyphicon-chevron-right"></i></p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="content ">
			<div class="centerall">
				<a href="#/recette" class="cta-all-recipes">Toutes les recettes</a>
				<!--<hr>-->
				<!--<h2>Ce que les gens en pensent</h2>-->
				<!--<p><span class="description-section">Avant de vous lancez, lisez les avis de nos utilisateurs</span></p>-->
				<!--<div class="userthink centerall clearfix">-->
					<!--<div class="width33">-->
						<!--<div class="img-profil">-->
							<!--<img src="www/img/testimonial.jpg" alt="">-->
						<!--</div>-->
						<!--<div class="txt-profil">-->
							<!--<p>« Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mi ligula, fermentum vitae augue ut, posuere aliquet nisi. Nulla blandit felis nisl, non condimentum est commodo sed. »</p>-->
							<!--<p class="author">Carolineuh Peulaton</p>-->
							<!--<p class="desc">Utilise Feedme depuis le Crétacé</p>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="width33">-->
						<!--<div class="img-profil">-->
							<!--<img src="www/img/testimonial.jpg" alt="">-->
						<!--</div>-->
						<!--<div class="txt-profil">-->
							<!--<p>« Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mi ligula, fermentum vitae augue ut, posuere aliquet nisi. Nulla blandit felis nisl, non condimentum est commodo sed. »</p>-->
							<!--<p class="author">Carolineuh Peulaton</p>-->
							<!--<p class="desc">Utilise Feedme depuis le Crétacé</p>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="width33">-->
						<!--<div class="img-profil">-->
							<!--<img src="www/img/testimonial.jpg" alt="">-->
						<!--</div>-->
						<!--<div class="txt-profil">-->
							<!--<p>« Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mi ligula, fermentum vitae augue ut, posuere aliquet nisi. Nulla blandit felis nisl, non condimentum est commodo sed. »</p>-->
							<!--<p class="author">Carolineuh Peulaton</p>-->
							<!--<p class="desc">Utilise Feedme depuis le Crétacé</p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			</div>
		</div>


	</div>

	<!-- Footer -->
  <footapp ng-controller="layout"></footapp>
</div>
