<div id="calendar">
<!-- header -->
<headapp ng-controller="layout"></headapp>

</div>
<!-- Mixins-->
<!-- Pen Title-->

<div class="container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Connexion</h1>
        <form>
            <div class="input-container">
                <input type="text" id="Username" ng-model="username" required="required" value="" autocomplete="off"/>
                <label for="Username">Email</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="Password" ng-model="password" required="required" value="" autocomplete="off"/>
                <label for="Password">Mot de passe</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button ng-click="login(username, password)"><span>Envoyer</span></button>
            </div>
            <div class="footer"><a href="#/lostpassword">Mot de passe oublié?</a></div>
        </form>
    </div>
</div>

<div id="calendar">
<footapp ng-controller="layout"></footapp>
</div>
