<div id="calendar">
<!-- header -->
<headapp ng-controller="layout"></headapp>

</div>

<div class="container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Mot de passe oublié</h1>
        <form>
            <div class="input-container">
                <input type="text" id="Email" ng-model="email" required="required" value="" autocomplete="off"/>
                <label for="Email">Email</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button><span>Envoyer</span></button>
            </div>
        </form>
    </div>
</div>


<footapp ng-controller="layout"></footapp>
