<div class="fixing-footer" id="calendar">

  <!-- header -->
  <headapp ng-controller="layout"></headapp>

	<div class="content">
    <div ng-show="success">Profile mis à jour !</div>
    <div ng-show="error">Error, saisissez correctement les champs !</div>
		<div class="form">

    		<form id="contactform">
    			<p class="contact"><label for="name">Nom d'utilisateur</label></p>
    			<input type="email" tabindex="1" ng-model="user.username" value="user.username" required="" placeholder="" name="name" id="name">

    			<p class="contact"><label for="email">Email</label></p>
    			<input type="email" required="" ng-model="user.email" value="user.email" placeholder="example@mail.com" name="email" id="email">



			<fieldset>
				<label>Date de naissance</label>
				<label class="month">
				<select id="BirthMonth" name="BirthMonth" class="select-style">
					<option value="">Mois</option>
					<option value="01">Janvier</option>
					<option value="02">Février</option>
					<option value="03">Mars</option>
					<option value="04">Avril</option>
					<option value="05">Mai</option>
					<option value="06">Juin</option>
					<option value="07">Juillet</option>
					<option value="08">Aout</option>
					<option value="09">Septembre</option>
					<option value="10">Octobre</option>
					<option value="11">Novembre</option>
					<option value="12">Decembre</option>
				</select>
				<label>Jour<input placeholder="Jour" name="BirthDay" maxlength="2" class="birthday"></label>
				<label>Année <input placeholder="Année" name="BirthYear" maxlength="4" class="birthyear"></label>
				</label>

			</fieldset>
			<div class="wrap-submit">
            	<input type="submit" value="Valider" ng-click="updateUser(user)" tabindex="5" id="submit" name="submit" class="buttom">
            </div>
   </form>
  </div>
	</div> <!-- CONTENT END -->

  <!-- Footer -->
  <footapp ng-controller="layout"></footapp>

</div>
