<div id="search-recipe-template" selectation>
  <headapp ng-controller="layout"></headapp>
<div class="content clearfix">
  <div class="search-bar">
    <ul class="search-tabs">
          <li class="active"><span href="#tab1">Recherche</span></li>
      </ul>
    <div class="grey search-block">
      <form action="">
        <input id="search-recipe" type="search" ng-model="search.name">
      </form>
        <div class="checkboxes">
          <div class="check-line" ng-repeat="categorierecette in categorierecettes">
            <input type="checkbox" checked ng-click=" " id="{{categorierecette.id}}">
            <label for="{{categorierecette.id}}">{{categorierecette.name}}</label>
          </div>
        </div>
      <!-- <div class="sort-wrapper">
        <p>Trier par :</p>

        <select class="simpleselect" name="" id="">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>

      </div> -->
    </div>
  </div>
  <div class="recipe-result">

    <div class="recipe clearfix popular" ng-repeat="recette in recettes | filter:search | filter:colourFilter">
      <div class="left">
        <div class="recipe-img">
          <img src="www/img/{{recette.image}}" alt="">
        </div>
      </div>
      <div class="right text">
        <a href="" class="fav active"></a>
        <a href="#/recette/{{recette.id}}"><h3>{{recette.name}}</h3></a>
        <div ng-bind-html="recette.description"></div>
      </div>
      <div class="bottom cleafix">
        <div class="left">
          <div class="wrap-note">
            <p>Note : 3/5</p>
          </div>
        </div>
        <div class="right">
          <ul>
            <li>Commentaires (10)</li>
            <li>-</li>
            <li>Partages (151)</li>
            <li>-</li>
            <li>Notes (340)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <pagination boundary-links="true" page="currentPage" ng-model="currentPage" max-size="noOfPages" total-items="recettes.length" items-per-page="entryLimit"></pagination> -->

    <!-- <div class="pagination">
      <ul>
        <li class="prev">
          <a href="">Prec</a>
        </li>
        <li class="active"><a href=""><span>1</span></a></li>
        <li>...</li>
        <li><a href="">9</a></li>
        <li><a href="">10</a></li>
        <li><a href="">11</a></li>
        <li><a href="">12</a></li>
        <li>...</li>
        <li><a href="">98</a></li>
        <li class="next"><a href="">Suiv</a></li>
      </ul>
    </div> -->

  </div>
</div><!-- CONTENT END -->
<footapp ng-controller="layout"></footapp>
</div>
