<div id="calendar">
<!-- header -->
<headapp ng-controller="layout"></headapp>

</div>
<div class="container">
    <div class="card"></div>
    <div class="card">
      <h1 class="title">S'enregistrer</h1>
        <form>
          <div class="input-container">
            <input type="email" id="Username" ng-model="useregister" required="required" autocomplete="off"/>
            <label for="Email">Email</label>
            <div class="bar"></div>
          </div>
          <div class="input-container">
            <input type="password" id="Password" ng-model="passwordregister" required="required" autocomplete="off"/>
            <label for="Password">Mot de passe</label>
            <div class="bar"></div>
          </div>
            <div class="input-container">
                <input type="password" id="Password" ng-model="repasswordregister" required="required" autocomplete="off"/>
                <label for="password">Répéter le mot de passe</label>
                <div class="bar"></div>
            </div>
          <div class="button-container">
            <button ng-click="register(useregister, passwordregister, repasswordregister)"><span>Envoyer</span></button>
          </div>
        </form>
    </div>
</div>
<footer>
  <div class="inside-footer clearfix">
    <div class="inside-footer-50 clearfix">
      <div class="inside-footer-menu">
        <ul>
          <li><a href="">Les recettes</a></li>
          <li><a href="">Log in</a></li>
          <li><a href="">Get started</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="inside-footer-menu">
        <ul>
          <li><a href="">Les recettes</a></li>
          <li><a href="">Log in</a></li>
          <li><a href="">Get started</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="inside-footer-50 clearfix">
      <div class="socials">
        <div class="socials-title">Nos réseaux sociaux</div>
        <div class="socials-links">
          <a href=""><img src="./www/img/socials/twitter-icon.png"></a>
          <a href=""><img src="./www/img/socials/pinterest-icon.png"></a>
          <a href=""><img src="./www/img/socials/facebook-icon.png"></a>
        </div>
      </div>
      <div class="android">
        <a href=""><img src="./www/img/socials/android.png"></a>
      </div>
    </div>
  </div>
</footer>
