<headapp ng-controller="layout"></headapp>
<div  id="onerecipe"class="content">
        <h2 class="onerecipe">{{singleRecette.name}}</h2>
        <div class="recipeleft">
          <img src="www/img/{{singleRecette.image}}"></img>
        </div>
        <div class="reciperight" id="ingredient">
            <ul class="recipeinfos">
              <li ng-repeat="ingredient in singleRecette.ingredients"><b>x{{ingredient.quantite}}</b> <span>{{ingredient.name}}</span></li>
            </ul>
        </div>
    <div class="clearfix"></div>
<div id="recipetext">
  <div ng-bind-html="singleRecette.description"></div>
</div>

<div class="row">
  <div class="col-md-12" ng-repeat="etape in singleRecette.etapes | orderBy: etape.numeroetape" style="padding-bottom: 15px;">
    <hr class="step-separator">
    <!--<div class="col-md-4 wrap-image-recipe"><img class = "espaceimg" src="www/img/{{etape.thumbnail}}"></img></div>-->
    <div class="col-md-8">
      <h2 class="step-title"><b>{{etape.titre}}</b></h2>
      <div ng-bind-html="etape.description"></div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
</div>
<footapp id="footer-fixed" ng-controller="layout"></footapp>
