.form{
    background:#f1f1f1;
    width:470px;
    margin:0 auto 190px;
    padding-left:50px;
    padding-right:50px;
    padding-top:20px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.form fieldset{border:0px; padding:0px; margin:0px;}

.form fieldset label{ display: inline-block;}

.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px;}

.form input[type="text"] { width: 100%; }

.form input[type="email"] { width: 100%; }

.form input[type="password"] { width: 100%;}

.form input.birthday{width:60px;}

.form input.birthyear{width:120px;}

.form label { color: #000; font-weight:normal;font-size: 12px; }

/* .form label.month {width: 135px;} */

.form input, textarea {
    background-color: rgba(255, 255, 255, 0.4);
    border:none;
    padding: 7px;
    color: #4b4b4b;
    font-size: 14px;
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
    margin-top: -10px;
}

.form .select-style {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(images/select-arrow.png),
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 0px solid #FFF;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form .gender {
    width:410px;
}

.form input.buttom{
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
    height: 40px;
    width: 150px;
    background-color: #5bc1a4;
    color: white;
    margin: 0 auto;
    font-weight: bold;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.form .wrap-submit{
    text-align: center;
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 20px;
}

.form input.buttom:hover{
    opacity: 0.6;
}