/* General section */
html{min-width: 1200px; height: 100%;}
body{
	font-size: 16px;
	min-width: 1200px;
}
a,a:hover, a:active, a:focus,input{
   outline: 0 !important;
}
/* End General Section */

/* Header & Footer sections */
header{
	margin-bottom: 70px;
}

.navbar-default{
	border: none;
}

footer, .navbar.navbar-default.navbar-fixed-top, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a{
	background-color: #56c2a4;
	color: white;
}

.menu-cta{
	border: white solid 2px;
	border-radius: 5px;
}

.navbar-default .navbar-nav > li > a.menu-cta{
	padding : 10px;
	margin-top: 3px;
}

/* Header & Footer Section */

/* Presentation Section */

#presentation{
	margin-top: -70px;
	height: 400px;
	width: 100%;
	position: relative;
	padding: 0;
	overflow: hidden;
}

.presentation-title{
	text-align: center;
	position: absolute;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform:    translate(-50%,-50%);
	-ms-transform:     translate(-50%,-50%);
	-o-transform:      translate(-50%,-50%);
	transform:         translate(-50%,-50%);
}

.prez-img{
	height: 400px;
	min-width: 100%;
	width: auto;
}

#presentation h1{
	font-size: 50px;
	margin: 0 auto 20px;
	color: #56c2a4;
    font-weight: bold;
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.84);
}

#presentation p{
	text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.84);
	color: white;
}

#presentation a.cta-prez,
.cta-all-recipes{
	background-color: #5bc1a4;
    background-repeat: no-repeat;
    background-size: auto 15px;
	margin: 35px auto 0;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.1;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
    width: auto;
}

#presentation a.cta-prez:hover,
.cta-all-recipes:hover,
#presentation a.cta-prez:focus,
.cta-all-recipes:focus{
	color: white;
	text-decoration: none;
}

#content.home-content{
	padding: 0;
	margin: 40px auto;
}

.recipe-examples p{
	margin-bottom: 20px;
}

a.thumbnail.myThumbnail{
	padding: 0;
	text-decoration: none;
	border: 4px solid #ddd;
	-webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

a.thumbnail.myThumbnail:hover{
	color: #ddd;
	opacity: 0.6;
}

a.thumbnail.myThumbnail img {
    display: block;
    width: 100%;
    height: 320px;
}

.mainonethird .caption h3{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
}

.mainonethird .caption{
	height: 400px;
	position: relative;
	padding: 15px;
}

.mainonethird .caption p{
	text-align: center;
}

.recipe-examples h2{
	font-size: 25px;
}

.recipe-examples p,
.recipe-examples h2{
	font-weight: bold;
}

.centerall{
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}

.centerall hr{
	width: 300px;
	margin-top: 35px;
	border-color: #e6e6e6;
}

.centerall .description-section{font-weight: bold;}

/* End Presentation Section */

/* Content Section */

#content h2{
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 5px;
}

#content .description-section{
	color: #56c2a4;
}

.highlight-recette{
	border: black solid 1px;
}

.caption-recette-link{
	text-transform: uppercase;
	color: #e85e54;
	position: absolute;
	bottom: 10px;
	left: 50%;
	font-weight: bold;
	-webkit-transform: translate(-50%,0);
	-moz-transform:    translate(-50%,0);
	-ms-transform:     translate(-50%,0);
	-o-transform:      translate(-50%,0);
	transform:         translate(-50%,0);
}

.userthink{
	padding-top: 15px;
}

.img-profil{
	display: block;
	height: 150px;
	width: 100%;
	text-align: center;
}

.img-profil img{
	display: inline-block;
	margin:0 auto;
	height: 100%;
	width: auto;
}

.txt-profil{
	padding: 15px;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}

.txt-profil p.author{
	font-weight: bold;
	font-size: 25px;
	margin-top: 25px;
}

.txt-profil p.desc{
	font-style: italic;
	color: #e65f58;
}

/* End Content Section */

/* Calendar */
body *{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 1.2;
}

header#feedme{
	display: block;
	width: 100%;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    background-color: #5bc1a4;
}

.header-center{
	width: 100%;
	display: block;
	margin: 0 auto;
	max-width: 1200px;
	padding: 15px 0;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.wrap-left {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width: 10%;
}

img.logo{
	width: 150px;
	height: auto;
}

.wrap-right {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	width: 89%;
}

ul.menu-recette{
	text-align: right;
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.menu-recette li{
	list-style: none;
	display: inline-block;
}

ul.menu-recette li a{
	font-size: 21px;
	line-height: 1;
	color: white;
	text-decoration: none;
	padding: 14px;
	display: block;
}


ul.menu-recette li.menu-special{
	background-color:#e65f58;
}

/*----- Tabs -----*/
#calendar .tabs{
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
#calendar .tab-links:after{
	display:block;
	clear:both;
	content:'';
}

#calendar .tab-links{
	margin: 0;
	padding:0;
}

#calendar .tab-links li{
	margin:0px 7px 0 0;
	float:left;
	list-style:none;
}

#calendar .tab-links a{
    padding:11px 0;
    display:inline-block;
    border-radius:12px 12px 0px 0px;
    background:#edf2f5;
    font-size:17px;
    font-weight:600;
    text-align: center;
    color:black;
    width: 170px;
    text-decoration: none;
    outline: none;
	text-decoration: none;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}

#calendar .tab-links a:hover{
    background:#e2e7ea;
    text-decoration:none;
}

#calendar li.active a,
#calendar li.active a:hover{
	background:#e2e7ea;
	color:black;
	outline: none;
	text-decoration: none;
}

/*----- Content of Tabs -----*/
#calendar .tab-content{
	padding:0;
	border: 2px solid #e2e7ea;
}

.grey{
	background-color: #e2e7ea;
}

.search-wrapper{
	display: block;
	padding: 40px 35px 30px;
	position: relative;
}

#calendar .tab{
    display:none;
}

#calendar .tab.active{
    display:block;
}

.content{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

#calendar #search{
	height: 40px;
	width: 250px;
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: none;
	background-image: url('../img/search-bg.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 20px auto;
	text-indent: 35px;
}

#calendar #search-submit{
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: none;
	margin-left: 30px;
	height: 40px;
	width: 150px;
	background-color: #5bc1a4;
	color: white;
	font-weight: bold;
}

#calendar #advanced-search{
	position: absolute;
	bottom: 15px;
	right: 25px;
	color: black;
	text-decoration: none;
	-webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}

#calendar #advanced-search:hover{
	opacity: 0.6;
}

#calendar #result-search{
	padding: 25px 0;
}

#calendar #result-search .bx-viewport{
	margin: 0;
	padding: 0;
	border:none;
	left: auto;
	box-shadow: none;
	background: none;
}

#calendar #result-slideshow .recette-image,
#calendar #result-slideshow .recette-txt{
	display: block;
	width: 50%;
	float: left;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

#calendar #result-slideshow .recette-txt{
	padding: 6px;
	max-height: 150px;
}

#calendar #result-slideshow li a{
	color: black;
	text-decoration: none;
	-webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}

#calendar #result-slideshow li a:hover{
	opacity: 0.6;
}

#calendar #result-slideshow .recette-txt h3{
	margin-top: 0;
	font-weight: bold;
	font-size: 16px;
}

#result-search .bx-wrapper .bx-controls-direction a{
	display: block;
	width: 40px;
	height: 40px;
	z-index: 50;
}

#result-search .bx-wrapper .bx-prev{
	background-image: url('../img/slide-result-prev.png');
	background-position: center;
	background-size: 40px auto;
	left: -65px;
}

#result-search .bx-wrapper .bx-next{
	background-image: url('../img/slide-result-next.png');
	background-position: center;
	background-size: 40px auto;
	right: -65px;
}

/*----- Content of Tabs -----*/

#calendar-content{
	width: 100%;
	margin: 80px 0 70px;
	display: block;
}

#calendar-nav{
	display: block;
	width: 100%;
	height: auto;
	background-color: #e65f58;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

#calendar-nav .calendar-nav-title{
	display: inline-block;
	margin: 0 auto;
	color: white;
	font-size: 21px;
	padding: 15px 0;
	font-weight: 700;
	text-transform: uppercase;
}

#calendar-nav .calendar-nav-prev,
#calendar-nav .calendar-nav-next{
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px auto;
	display: block;
	width: 20px;
	height: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
}

#calendar-nav .calendar-nav-prev{
	background-image: url('../img/calendar-nav-prev.png');
	left: 15px;
}

#calendar-nav .calendar-nav-next{
	background-image: url('../img/calendar-nav-next.png');
	right: 15px;
}

#calendar-content .week{
	display: block;
	width: 100%;
	height: auto;
}

#calendar-content .week .day{
	display: block;
	float: left;
	width: 13%;
	margin-left: 1.5%;
}

#calendar-content .week .day:first-of-type{
	margin-left: 0;
}

#calendar-content .week .day .day-title{
	text-align: center;
	background-color: #5bc1a4;
	color: white;
	font-size: 17px;
	font-weight: bold;
	padding: 7px 0;
	border-radius:9px 9px 0px 0px;
}

#calendar-content .week .day .day-content{
	background-color: #edf2f5;
	min-height: 600px;
	padding: 7px;
	border-radius: 0 0 9px 9px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

#calendar-content .week .day .day-content a{
	text-decoration: none;
}

#calendar .cta-meal{
	display: block;
	width: 100%;
	color: #e65f58;
	font-weight: 700;
	font-size: 19px;
	text-align: center;
	text-decoration: none;
	border: 1px dashed #e65f58;
	padding: 10px 0;
	margin-bottom: 15px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}

#calendar .cta-meal:hover{
	opacity: 0.6;
}

#calendar .cta-meal img{
	width: 15px;
	height: auto;
}

#calendar .meal{
	display: block;
	width: 100%;
	height: auto;
	background-color: white;
	padding: 20px 5px;
	margin-bottom: 15px;
	border: 1px solid black;
	position: relative;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

#calendar .meal .meal-name{
	font-size: 12px;
	font-weight: bold;
}

#calendar .meal ul{
	padding-left: 13px;
	margin:0;
}

#calendar .meal .close-meal{
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 5px;
	top:5px;
	background-image: url('../img/close-meal.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px auto;
}

#popin-add-meal{
	display: none;
	position: fixed;
	top:50%;
	left: 50%;
	width: 300px;
	background-color: white;
	z-index: 100;
	text-align: center;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform:    translate(-50%,-50%);
	-ms-transform:     translate(-50%,-50%);
	-o-transform:      translate(-50%,-50%);
	transform:         translate(-50%,-50%);

	-moz-box-shadow: 0px 0px 20px 2px #656565;
	-webkit-box-shadow: 0px 0px 20px 2px #656565;
	-o-box-shadow: 0px 0px 20px 2px #656565;
	box-shadow: 0px 0px 20px 2px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=20);
}

#ui-datepicker-div .ui-state-hover{
	opacity: 0.6;
}

#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next{
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}

.popin-add-meal-within{
	width: 100%;
	height: auto;
	min-height: 150px;
	padding: 10px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.close-add-meal{
	background-color: #5bc1a4;
	background-image: url("../img/close-popin.png");
	background-repeat: no-repeat;
    background-position: center;
    background-size: 10px auto;
    cursor: pointer;
    display: block;
    float: right;
    height: 34px;
    position: absolute;
    right: -34px;
    top: 0;
    width: 34px;
}

#popin-add-meal h4{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	margin: 0 auto 15px;
}

#popin-add-meal form{
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}

#popin-add-meal form .wrap-form-elements{
	margin: 0 auto;
	display: inline-block;
	width: 85%;
}

#popin-add-meal form label{
	display: block;
	text-align: left;
	width: 100%;
	margin: 0 auto 10px;
	line-height: 1.1;
}

#popin-add-meal form input{
	display: block;
	width: 100%;
	border: none;
	background-color: #efefef;
	height: 25px;
	line-height: 25px;
	margin: 0 auto 10px;
}

#popin-add-meal .wrap-submit-add-meal{
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}


#popin-add-meal .submit-add-meal{
    background-color: #5bc1a4;
    border: medium none;
    border-radius: 15px;
    color: white;
    display: inline-block;
    font-weight: bold;
    margin: 20px auto 0;
    padding: 15px 0;
    text-transform: uppercase;
    width: 150px;
    height: 35px;
    line-height: 0;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}

.popin-recette{
    background: rgba(255, 255, 255, 0.96) none repeat scroll 0 0;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
    width: 100%;
    min-width: 1200px;
    z-index: -5;
    overflow-y: scroll;
}

.popin-recette.show{
    opacity: 1;
    z-index: 100;
}

.content-popin-recette{
	display: inline-block;
	width: 1200px;
	text-align: left;
	margin: 50px auto 0;
	position: relative;
	padding-bottom: 20px;
}

.close-popin-recette{
    background: #5bc1a4 url("../img/close-popin.png") no-repeat scroll center center;
    cursor: pointer;
    display: block;
    float: right;
    height: 68px;
    position: absolute;
    right: -68px;
    top: 0px;
    width: 68px;
}

.left-popin-recette,
.right-popin-recette{
	display: block;
	float: left;
}

.left-popin-recette{
	width: 300px;
}

.left-popin-recette img{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.right-popin-recette{
	width: 900px;
	padding:0;
}

.right-popin-recette h3{
	margin: 0 auto 20px;
	font-size: 26px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
}

.right-popin-recette h4{
	margin: 0 auto 20px;
	font-size: 19px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
}

.right-popin-recette hr{
	margin: 20px 0 20px 20%;
	width: 60%;
	display: inline-block;
	height: 2px;
	border: none;
	background-color:#efefef;
}

.wrap-text-popin-recette{
	padding: 10px;
	float: left;
	width: 65%;
}

.add-to-meal{
	display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
    background-color: #5bc1a4;
    color: white;
    margin: 20px auto 0;
    font-weight: bold;
    padding: 15px 0;
    width: 150px;
    text-transform: uppercase;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.wrap-form-popin-recette{
	display: block;
	width: 35%;
	height: auto;
	text-align: center;
	float: left;
}

.wrap-submit-popin-recette{
	display: block;
	height: auto;
	text-align: center;
}

.border-form-popin-recette{
	display: block;
	width: 100%;
	padding:10px;
	margin: 70px auto 0;
	background-color:  #efefef;
}

.chosen-container{
	max-width: 100%;
}

.chosen-container .chosen-results{
	max-height: 150px;
}

/* ********** SUCCESS PAGE END ********** */
.success-msg{
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	margin-top:120px;
}
.success-link{
	text-align: center;
	margin-top:30px;
}
.success-link a{
	font-size: 20px;
	line-height: 1.2;
	color: #5bc1a4;
	text-decoration: none;
	-webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}
.success-link a:hover{
	opacity: 0.6;
}

/* ********** SUCCESS PAGE END ********** */
/* ********** SEARCH RECIPE ********** */

#search-recipe-template .content{
	margin-bottom: 80px;
}

.search-bar{
	display: block;
	width: 23%;
	margin-right: 2.6%;
	float: left;
}

ul.search-tabs{
	display: block;
	height: auto;
	width: 100%;
	margin: 0;
    padding: 0;
}

ul.search-tabs::after{
    clear: both;
    content: "";
    display: block;
}

ul.search-tabs li{
    float: left;
    list-style: outside none none;
    margin: 0 7px 0 0;
}

ul.search-tabs li span{
    padding:11px 0;
    display:inline-block;
    border-radius:12px 12px 0px 0px;
    background:#edf2f5;
    font-size:17px;
    font-weight:600;
    text-align: center;
    color:black;
    width: 170px;
    text-decoration: none;
    outline: none;
	text-decoration: none;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}

ul.search-tabs li.active span{
    background: #e2e7ea none repeat scroll 0 0;
    color: black;
    outline: medium none;
    text-decoration: none;
}

.search-block{
	display: block;
	padding-bottom: 40px;
	border-radius: 0 12px 12px 12px;
}

.search-block form{
	display: block;
	height: auto;
	margin: 0;
	padding:0;
	text-align: center;
}

#search-recipe{
	height: 40px;
	width: 75%;
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: none;
	background-image: url('../img/search-bg.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 20px auto;
	text-indent: 35px;
	margin: 45px auto 0;
}

#search-recipe-submit{
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: none;
	height: 40px;
	width: 150px;
	background-color: #5bc1a4;
	color: white;
	font-weight: bold;
	margin: 30px auto 0;
}

/* *** CHECKBOXES *** */

.checkboxes{
	display: block;
	width: 100;
	height: auto;
}

*:focus{
	outline: none;
}

.checkboxes .check-line{
	display: block;
	width: 100%;
	height: auto;
	padding-left: 30px;
	padding-top: 35px;
	text-align: left;
}

.checkboxes .check-line label{
	font-size: 20px;
	line-height: 32px;
	height: 32px;
	text-transform: uppercase;
	margin: 0 auto;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 60px;
	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 2px;
	width: 30px; height: 30px;
	border: 1px solid #9a9a9a;
	background: #f8f8f8;
	border-radius: 3px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: 4px; left: 10px;
	font-size: 14px;
	color: #09ad7e;
	line-height: 1.75;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
[type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: 1px dotted blue;
}

/* *** CHECKBOXES END *** */
/* *** SORT SELECT *** */
.sort-wrapper{
	display: block;
	width: 100%;
	height: auto;
	margin: 30px auto 0;
	text-align: center;
}

.sort-wrapper p{
	margin: 0 auto 25px;
	display: inline-block;
	font-size: 22px;
	color: black;
	line-height: 1.1;
	font-weight: bold;
}

.sort-wrapper select{
	display: inline-block;
	width: 75%;
	border:1px solid #9a9a9a;
}

.simpleselect{
	margin: 0 auto;
}

.simpleselect .placeholder{
	border-radius: 10px;
}

.recipe-result{
	display: block;
	width: 74.4%;
	float: left;
	padding-top: 35px;
}

.recipe{
	display: block;
	height: auto;
	width: 100;
	padding-bottom: 30px;
	padding-top: 35px;
	border-bottom: 1px solid #9a9a9a;
}

.recipe .left{
	float: left;
	width: 20%;
	display: block;
	height: auto;
}

.recipe .left .recipe-img{
	height: auto;
	width: 100%;
	display: block;
}

.recipe .left .recipe-img img{
	display: block;
	width: 100%;
	height: auto;
}

.recipe .right{
	display: block;
	float: left;
	width: 80%;
	height: auto;
	padding-left: 20px;
}

.recipe .right.text{
	padding-right: 50px;
	position: relative;
}

.recipe a.fav{
	position: absolute;
	right: 0;
	top:50%;
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../img/fav.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	-webkit-transform: translate(-50%,0);
	-moz-transform:    translate(-50%,0);
	-ms-transform:     translate(-50%,0);
	-o-transform:      translate(-50%,0);
	transform:         translate(-50%,0);
}

.recipe a.fav:focus{
	outline: none;
}

.recipe a.fav.active{
	background-image: url('../img/fav-active.png');
}

.recipe .right h3{
	margin:0 auto 25px;
	font-weight: bold;
	color: black;
	font-size: 22px;
}

.recipe.popular .right h3{
	display: inline-block;
	position: relative;
}

.recipe.popular .right h3:after{
	display: block;
	content:'';
	width: 35px;
	height: 35px;
	background-image: url('../img/popular.png');
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 100% auto;
	position: absolute;
    right: -50px;
    top: -4px;
}

.recipe .right p{
	font-size: 16px;
	color: black;
}

.recipe .bottom{
	display: block;
	width: 100%;
	float: left;
	height: auto;
}

.recipe .wrap-note{
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 15px;
}

.recipe .wrap-note p{
	margin: 0 auto;
}

.recipe .bottom ul{
	padding:15px 0 0 0;
	margin: 0 auto;
}

.recipe .bottom ul li{
	list-style: none;
	display: inline-block;
	margin: 0 5px 0 0;
}

.content .pagination{
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 70px;
}

.pagination ul{
	padding: 0;
	margin: 0 auto;
	display: inline-block;
}

.pagination ul li{
	list-style: none;
	display: inline-block;
	height: 20px;
	margin-right: 10px;
}

.pagination ul li a{
	display: block;
	height: 20px;
	font-size: 17px;
	line-height: 1;
	vertical-align: middle;
	color: black;
	text-decoration: none;
	padding: 0 10px;
	font-weight: bold;
}

.pagination ul li.active a span{
	padding: 7px;
	border-radius: 3px;
}

.pagination ul li.active a span{
	background-color: #5bc1a4;
	color: white;
}

.pagination ul li.prev a{
	padding-left: 20px;
	background-image: url('../img/pagination-prev.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 15px;
}

.pagination ul li.next a{
	padding-right: 20px;
	background-image: url('../img/pagination-next.png');
	background-repeat: no-repeat;
	background-position: center right;
	background-size: auto 15px;
}

/* *** SORT SELECT END *** */
/* ********** SEARCH RECIPE END ********** */

/* ********** CREATE RECIPE  ********** */
#create-recipe-template .content{
	text-align: center;
}

#steps{
	display: inline-block;
	height: 40px;
	width: 85%;
	position: relative;
	margin: 0 auto;
}

.step{
	display: block;
	width: 25%;
	height: 100%;
	background-color: #edf2f5;
	position: absolute;
	top:0;
}

.step.active{
	background-color: #5bc1a4;
}

.step .within-step{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

.step .within-step p{
	margin:0 auto 0 -35px;
	line-height: 40px;
	display: block;
	font-weight: bold;
	color: black;
}

.step.active .within-step p{
	color: white;
}

.step:first-of-type{
	left: 0;
}

.step:nth-child(2){
	left: 25%;
}

.step:nth-child(3){
	left: 50%;
}

.step:nth-child(4){
	left:75%;
}

.step:nth-child(4) .point-arrow-triangle,
.step:nth-child(4).active .point-arrow-triangle{
	background-image: url('../img/point-arrow-2.png');
}

.step.active .point-arrow-triangle,
.step:first-child.active .point-arrow-triangle{
	background-image: url('../img/point-arrow-3.png');
}

.point-arrow-triangle{
	position: absolute;
	right:-1px;
	top:0;
	display: block;
	height: 40px;
	width: 45px;
	background-repeat: no-repeat;
	background-image: url('../img/point-arrow.png');
	background-size: auto 100%;
	background-position: center;
	z-index: 15;
}

.step.prev-active .point-arrow-triangle{
	background-image: url('../img/point-arrow-4.png');
}

.step-data{
	display: block;
	width: 100%;
	height: auto;
	margin:45px auto 70px;
	background-color: #edf2f5;
	padding: 70px 45px;
	border-radius: 15px;
	position: relative;
}

a.step-next{
	position: absolute;
	bottom: 30px;
	right: 45px;
	background-image: url("../img/pagination-next.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto 15px;
	padding-right: 20px;

	color: black;
    display: block;
    font-size: 17px;
    font-weight: bold;
    height: 20px;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
}

a.step-prev{
	position: absolute;
	bottom: 30px;
	left: 45px;
	background-image: url("../img/pagination-prev.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto 15px;
	padding-left: 20px;

	color: black;
    display: block;
    font-size: 17px;
    font-weight: bold;
    height: 20px;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
}

form.step-one{
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}

form.step-one .green-white-field{
	display: block;
	width: 70%;
	margin: 0 auto 50px;
}

.green-wrapper{
	display: block;
	height: auto;
	width: 100%;
	background-color: #5bc1a4;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.green-white-field label{
	display: block;
	width: 100%;
	height: auto;
	color: white;
	font-size: 18px;
	line-height: 1;
	padding: 10px 0;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}

.white-wrapper{
	background-color: white;
	padding-bottom: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

form.step-one .green-white-field input,
.popin-qte .popin-form  .green-white-field input{
	display: block;
	width: 100%;
	font-size: 18px;
	height: 60px;
	border:none;
	padding: 0;
	margin: 0;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

.padtop10px{
	padding-top: 10px;
}

#upload-step-image:hover{
	cursor: pointer;
}

form.step-one .mce-container, form.step-one .mce-container *, form.step-one .mce-widget, form.step-one .mce-widget *, form.step-one .mce-reset{
	background-color: white;
}

form.step-one .chosen-container{
	width: 100% !important;
	height: 40px;
}

form.step-one .chosen-container input{
	min-height: 40px;
	border:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

form.step-one .chosen-container ul.chosen-choices{
	border:none;
}

form.step-one .chosen-container-active .chosen-choices{
	box-shadow: none;
}

#step-two .green-white-field{
	display: block;
	width: 100%;
	margin: 0 auto;
}

#step-two .green-white-field select{
	width: 100%;
	border:none;
	text-align: center;
	height: 150px;
}

.add-ingredient,
.remove-ingredient{
	display: inline-block;
	width: 80%;
	color:white;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.1;
	text-transform: uppercase;

	padding: 10px 0;
	background-repeat: no-repeat;
    background-size: auto 15px;
    background-color: #5bc1a4;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}

.add-ingredient:hover,
.remove-ingredient:hover{
	text-decoration: none;
	color: white;
	opacity: 0.6;
}
.add-ingredient:focus,
.remove-ingredient:focus{
	outline: none;
	text-decoration: none;
	color: white;
}

.add-ingredient{
	margin: 40px auto 20px;
	background-image: url("../img/pagination-next-white.png");
    background-position: 95% center;
}

.remove-ingredient{
	margin:0 auto;
	background-image: url("../img/pagination-prev-white.png");
    background-position: 5% center;
}

.step-two-search{
	display: block;
	width: 100%;
	height: auto;
	text-align: left;
	padding-bottom: 50px;
}

#search-ingredient{
	height: 40px;
	width: 250px;
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: none;
	background-image: url('../img/search-bg.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 20px auto;
	text-indent: 35px;
	margin: 0 auto 0 9.5%;
}

#search-ingredient-submit{
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: none;
	height: 40px;
	width: 230px;
	background-color: #5bc1a4;
	color: white;
	font-weight: bold;
	margin: 0 auto 0 15px;
}

.cat-ingredient{
	display: block;
	margin-left: 9.3%;
    padding-bottom: 30px;
    width: 33%;
}

.cat-ingredient .chosen-container-multi .chosen-choices{
	border:none;
}

.wrap-selects{
	display: block;
	height: auto;
	width: 100%;
}

.preview-ingredient{
	display: none;
	height: auto;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: left;
}

.preview-ingredient h4{
	text-align: center;
	display: block;
	font-size: 19px;
	line-height: 1.2;
	font-weight: bold;
	margin-bottom: 25px;
}

.preview-ingredient p{
	font-size: 15px;
	line-height: 1.2;
	margin-bottom: 15px;
}

#recipe-steps-content{
	display: block;
	height: auto;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 20px;
}

.the-step{
	display: block;
	height: auto;
	width: 100%;
	border-top: 2px solid #e6e6e6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.the-step-image{
	display: block;
	float: left;
	width: 20%;
}

.the-step-image img{
	width: 100%;
	display: block;
	height: auto;
}

.the-step-image + .the-step-text{
	width: 80%;
	padding-left: 6%;
}

.the-step-text p{
	font-size: 14px;
	line-height: 1.1;
	margin:0 auto 11px;
}

.the-step-text{
	display: block;
	float: left;
	width: 100%;
	text-align: left;
}

.relative{position: relative;}

p.error{
	font-size: 11px;
	color: #e65f58;
	line-height: 1;
	margin: 0 auto;
	position: absolute;
	bottom: -15px;
	display: none;
}

#add-step-action{
	display: inline-block;
	width: auto;
	color:white;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.1;
	text-transform: uppercase;

	padding: 10px 20px;
	background-repeat: no-repeat;
    background-size: auto 15px;
    background-color: #5bc1a4;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}

#add-step-action:hover{
	opacity: 0.6;
}

.step-data#step-four{
	background: none;
	border-color: #edf2f5;
    border-radius: 15px;
    border-style: solid;
    margin: 5% auto;
    min-height: 700px;
    padding: 40px 60px 70px;
    text-align: left;
}

.popin-qte{
	background: rgba(255, 255, 255, 0.96) none repeat scroll 0 0;
	display: none;
	height: 100%;
	left: 0;
	min-width: 1200px;
	opacity: 1;
	overflow-y: scroll;
	position: fixed;
	text-align: center;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 100000;
}

.popin-qte .popin-form{
	display:block;
	width:500px;
	height:550px;
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform:    translate(-50%,-50%);
	-ms-transform:     translate(-50%,-50%);
	-o-transform:      translate(-50%,-50%);
	transform:         translate(-50%,-50%);
}

.popin-qte .green-white-field{
	width:100%;
	display: block;
	margin: 0 auto 50px;
}

.qte-submit{
	background-color: #5bc1a4;
	border: medium none;
	border-radius: 15px;
	color: white;
	display: inline-block;
	font-weight: bold;
	height: 40px;
	margin-left: 30px;
	width: 150px;
}





/* ********** CREATE RECIPE END ********** */
/* ********** GENERIC CLASSES ********** */
.width33{
	width: 33%;
	display: inline-block;
	vertical-align: top;
}
.width15{
	width: 15%;
	display: inline-block;
	vertical-align: top;
}
.width50{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
/* ********** GENERIC CLASSES END ********** */
/* ********** FOOTER ********** */

body.fixing-footer{
	min-height: 100%;
	position: relative;
	padding-bottom: 168px;
}

.fixing-footer footer{
	position: absolute;
	bottom: 0;
	left: 0;
}

footer{
	display: block;
	width: 100%;
	padding: 30px 0 40px;
	background-color: #5bc1a4;
}

footer *, footer > div *{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
}

footer .inside-footer{
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

footer .inside-footer-50{
	display: block;
	width: 50%;
	float: left;
}

footer .inside-footer-menu{
	display: block;
	width: 50%;
	float: left;
	padding-left: 5px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

footer .inside-footer-menu ul{
	padding: 0;
	margin: 0;
}

footer .inside-footer-menu ul li{
	list-style: none;
}

footer .inside-footer-menu ul li a{
	color: white;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0;
	-webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}

footer .inside-footer-menu ul li a:hover{
	opacity: 0.6;
}

footer .socials{
	display: block;
	width: 55%;
	height: auto;
	float: left;
	padding-top: 3px;
}

footer .socials .socials-title{
	display: block;
	width: 100%;
	height: auto;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

footer .socials .socials-links{
	text-align: center;
	margin-top: 15px;
}

footer .socials .socials-links a{
	display: inline-block;
	margin: 0 2%;
	-webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
	transition:all 0.3s;
}

footer .socials .socials-links a:hover{
	opacity: 0.6;
}

footer .socials .socials-links a img{
	display: block;
	width: 30px;
	height: auto;
}

footer .android{
	display: block;
	width: 23%;
	padding-top: 35px;
	height: auto;
	float: left;
	text-align: right;
}

footer .android a img{
	display: inline-block;
	width: 100px;
	height: auto;
}

footer .appstore{
	display: block;
	width: 22%;
	padding-top: 35px;
	height: auto;
	float: left;
	text-align: right;
}

footer .appstore a img{
	display: inline-block;
	width: 100px;
	height: auto;
}

.centercontent{
    width: 100%;
}

.centercontent p{
    font-size: 16px;
}

.bouton-success{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.mainonethird{
    width: 33.3333%;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.popupDescription{
	margin-top:100px;
	padding:15px;
	border : 1px solid #bababa;

}

@media screen and (max-width: 1024px) {
	.chosen-container .chosen-results{
		max-height: 100px;
	}
}
@media screen and (max-width: 1350px) {
	.popin-recette{
		min-width: 0;
	}
	.close-popin-recette{
		top: -15px;
		right: 0;
	}
	.content-popin-recette{
    	width: 956px;
  	}
  	.left-popin-recette{
  		width: 200px;
  	}
  	.right-popin-recette{
  		width: 756px;
  		padding-top: 15px;
  	}
}